<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/BusinessMaintenance.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{data['conf'].index_title}}</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">信息联络员管理 </a></li>
                <li><a href="/statistic">统计指标管理</a></li>
                <li><a href="/city">城市管理</a></li>
                <li><a href="/bulletin">公告管理</a></li>
                <li><a href="/form">统计报表格式管理</a></li>
                <li><a href="/query">数据查询</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/passwd">修改密码</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

    <div class="InnerBox BusinessMaintenance">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab">用户管理</a></li>
                <li role="presentation"><a href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab">权限管理</a></li>
                <li role="presentation"><a href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab">授权管理</a></li>
                <li role="presentation"><a href="#reserve" aria-controls="reaerve" role="tab" data-toggle="tab">数据查询</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="breakfast">
                    <p class="BusinessAdd"><button>添加用户</button></p>
                    <table class="table table-bordered">
                        <tr>
                            <th>序号</th>
                            <th>所在城市</th>
                            <th>姓名</th>
                            <th>密码</th>
                            <th>性别</th>
                            <th>所在部门</th>
                            <th>职务</th>
                            <th>电话</th>
                            <th>手机号</th>
                            <th>操作</th>
                        </tr>
                    {% for  i in xrange(len(data['connectors'])) %}
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{data['connectors'][i]['city']}}</td>
                            <td>{{data['connectors'][i]['name']}}</td>
                            <td>{{data['connectors'][i]['password']}}</td>
                            <td>{{data['connectors'][i]['gender']}}</td>
                            <td>{{data['connectors'][i]['department']}}</td>
                            <td>{{data['connectors'][i]['place']}}</td>
                            <td>{{data['connectors'][i]['telephone']}}</td>
                            <td>{{data['connectors'][i]['mobile']}}</td>
                            <td class="BusinessDel" onclick="BusinessDel('{{data['connectors'][i]['id']}}','user')"><button>删除</button></td>
                        </tr>
                    {% end %}
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="lunch">
                    <p class="addpower"><button>增加</button></p>
                    <p class="addpower-input">
                        <input type="text"> <span id="sure-addpower">确认添加</span> <span id="del-adpower">取消</span>
                    </p>
                    <table class="table table-bordered" style="width:300px">
                    {% for a in data['auths'] %}
                        <tr>
                            <td>{{a['name']}}</td>
                            <td class="BusinessDel" onclick="BusinessDel('{{a['id']}}','power')"><button>删除</button></td>
                        </tr>
                    {% end %}
                    </table>

                </div>
                <div role="tabpanel" class="tab-pane" id="dinner">
                    <div class="authorize">
                        {% for a in data['auths'] %}
                        <span>
                            <input type="checkbox" value="{{a['id']}}" {{'checked' if a['tag'] == 1 else ''}}> {{a['name']}}
                        </span>
                        {% end %}
                        {% if len(data['auths']) %}
                        <p>
                            <span class="sure-authorize"><button>确定</button></span><span class="cancle-authorize"><button>取消</button></span>
                        </p>
                        {% end %}
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="reserve">
                    <div class="datainquiry">
                        <div><a href="/qbycity">按城市查询</a> </div>
                        <div><a href="/qbyindex">按指标查询</a></div>
                        <div><a href="/qbyform">按报表查询</a></div>
                        <div><a href="/qbyhistoryindex">按历史和指标查询</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="Alert addAlert">
    <div class="AlertShaw"></div>
    <div class="addBox">
        <div class="addBoxtop">
            添加用户
        </div>
        <p>
            <span>城市：</span>
            <span>
                <select class="selectcity">
                {% for c in data['citys'] %}
                      <option value ="{{c}}">{{c}}</option>
                {% end %}
                </select>
            </span>
        </p>
        <p>
            <span>姓名：</span>
            <span> <input type="text" name="name" onfocus="clearword()"> </span>
        </p>
        <p>
            <span>密码：</span>
            <span> <input type="text" name="password" onfocus="clearword()"> </span>
        </p>
        <p>
            <span>所在部门：</span>
            <span>
                <select class="selectdepartment">
                      {% for d in data['departments'] %}
                        <option value ="{{d}}">{{d}}</option>
                      {% end %}
                </select>
            </span>
        </p>
        <p>
            <span>职务：</span>
            <span>
               <select class="selectposition">
                     {% for p in data['positions'] %}
                        <option value ="{{p}}">{{p}}</option>
                     {% end %}
                </select>
            </span>
        </p>
        <p>
            <span>电话：</span><span><input name="telephone" type="text" onfocus="clearword()"></span>
        </p>
        <p>
            <span>手机号：</span><span><input name="mobile" type="text" onfocus="clearword()"></span>
        </p>
        <p>
            <span>性别: </span>
            <span>
                <select class="gender">
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </span>
        </p>
        <div class="addBox-word"></div>
        <div class="addBoxbtn">
            <span id="sureAdd">确定</span>
            <span onclick="noAdd()">取消</span>
        </div>
    </div>
</div>

<div class="Alert delAlert">
    <div class="AlertShaw"></div>
    <div class="delBox">
        <div>确定要删除么？</div>
        <div>
            <span onclick="sureDel()">确定</span>
            <span onclick="noDel()">取消</span>
        </div>
    </div>
</div>

</body>
<script src="js/jquery-1.12.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/BusinessMaintenance.js"></script>
</html>
